html,body{
    height: 100%;
    margin: 0;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}
#root{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #fff;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0 15px;
}
.container{
    max-width: 700px;
    width: 100%;
    height: 400px;
    background: skyblue;
    position: relative;
    border-radius: 15px;
}
.p1,.p2{
    float: left;
    margin: 15px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 24px;
}
.p2{
    float: right;
}
#box{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.top-left{
    border-left: none !important;
    border-top: none !important;
}
.top-middle{
    border-top: none !important;
}
.top-right{
    border-right: none !important;
    border-top: none !important;
}
.middle-left{
    border-left: none !important;
}
.middle-right{
    border-right: none !important;
}
.bottom-left{
    border-left: none !important;
    border-bottom: none !important;
}
.bottom-middle{
    border-bottom: none !important;
}
.bottom-right{
    border-right: none !important;
    border-bottom: none !important;
}
.elem{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    border: 3px solid #777777c4;
}
canvas{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#start{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background: rgba(2, 45, 102, 0.4);
    display: grid;
    z-index: 100;
    
}
#start > div{
    max-width: 300px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#win{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background: rgba(2, 45, 102, 0.4);
    z-index: -1;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: center;
}
#nowin{
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
.start_btn,.restart_btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: red;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 58px;
}
.restart_btn{
    background: green;
}
#player_1 input,#player_2 input{
    width: 200px;
    height: 50px;
    background: rgb(90, 130, 238);
    color: #fff;
    border: 3px solid black;
    border-radius: 30px;
    padding: 0 10px;
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
input::placeholder{
    color: rgb(216, 202, 202);
}
#count{
    max-width: 100px;
    height: 150px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    margin: 30px auto;
}
#count p{
    font-size: 80px;
    color: #fff;
    font-family: sans-serif;
}
#win .block{
    width: auto;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    margin: 30px auto;
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}
@keyframes win{
    0%{
        z-index: -1;
        height: 0;
        opacity: 0;
    }
    90%{
        height: 100%;
        opacity: 1;
    }
    100%{
        z-index: 100;
        height: 100%;
        opacity: 1;
    }
}
@keyframes clear{
    0%{
        height: 100%;
    }
    90%{
        height: 0;
        opacity: 0;
    }
    100%{
        z-index: -1;
        height: 0;
        opacity: 0;
    }
}

@media(max-width: 700px){
    #win .block{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 30px;
    }
    #win button{
        grid-column: 2;
    }
    #player2_nick{
        grid-column: 3;
    }
    #player1_nick, #player2_nick{
        grid-row: span 2/1;
        font-size: 20px;
    }
}